/* Bright EU map countries colors */
$uk-lt: #7c3842;
$germany-lt: #e18a9f;
$france-lt: #921f34;
$switzerland-lt: #ac5f6f;
$italy-lt: #c52528;
$spain-lt: #906a46;
$portugal-lt: #a3957e;

/* Dimmed EU map countries colors */
$uk: #47111D;
$germany: #532733;
$france: #46000B;
$switzerland: #52212D;
$italy: #600000;
$spain: #412C18;
$portugal: #494135;

/* Asia darkColors */
$south-east-asia: #133751;
$malaysia: #133751;
$singapore: #133751;
$vietnam: #133751;
$hanoi: #133751;

$japan: #283A44;
$sapporo: #283A44;
$kyoto: #283A44;
$tokyo: #283A44;

$korea: #305872;
$seoul: #305872;

$taiwan: #464646;
$tapei: #464646;

$china: #168F98;
$shanghai: #168F98;
$beijing: #168F98;
$chengdu: #168F98;
$hongkong: #168F98;

/* Asia originalColors */
$south-east-asia-lt:  #226592;
$malaysia-lt:  #226592;
$singapore-lt:  #226592;
$vietnam-lt:  #226592;
$hanoi-lt:  #226592;

$japan-lt:  #47697B;
$sapporo-lt:  #47697B;
$kyoto-lt:  #47697B;
$tokyo-lt:  #47697B;

$korea-lt:  #236592;
$seoul-lt:  #236592;

$taiwan-lt:  #7d7f7d;
$tapei-lt:  #7d7f7d;

$china-lt:  #0E4F53;
$shanghai-lt:  #0E4F53;
$beijing-lt:  #0E4F53;
$chengdu-lt:  #0E4F53;
$hongkong-lt:  #0E4F53;


$map-land: #F2F2EA;
$map-water: #BED8F1;
$map-water-text: #89A5BD;

/* Grayscale */
$black: #000000;
$black-two: #313030;
$black-45: rgba(0, 0, 0, 0.45);
$black-65: rgba(0, 0, 0, 0.65);
$black-55: rgba(0, 0, 0, 0.55);
$dark: #292929;
$black-two: #313030;
$avatar-grey: #5F5E5D;
$grey1: #666;
$warm-grey: #979797;
$map-container: #F3F2EA;
$white: #ffffff;