<script type="text/javascript">
  var journeys = {journeys_json_data};
  {exp:elan_api:lex_categories_data}
</script>
<div class="row">
	<div class="col-xs-3 map-info-container">
		<div class="map-legend">
			<ul class="legend-group">				
				<li class="label">{exp:transcribe:replace name="maplegend"}</li>				
			</ul>
		</div>
		<div class="map-info">
		</div>
	</div>
	<div class="col-xs-9 map-container">
		<div id="vmap" style="width: 100%; height: 100%;"></div>
	</div>
</div>

{embed="journey/_info"}
