.DS_Store
.*.swp
.swp
*~
.*~
temp
.project
.settings/

.htaccess

lexscp/user/cache/*
!lexscp/user/cache/index.html

lexscp/user/logs/*
!lexscp/user/logs/index.html

assets/*
!assets/index.html
!assets/*.svg
!assets/*.png

lexscp/user/cache/installed-plugins
lexscp/user/cache/software_registration

lexscp/index.php
!/js/jqvmap/test-data/mlapprentice_json_data.json
node_modules
.sass-cache/
lexscp/user/templates/coach/global.group/mlambassador_json_data.html
lexscp/user/addons/transcribe_import_content/files/
