<script>
$(function() {
    $("#itinerary-accordion").accordion({
		icons: { "header": "ui-icon-plus", "activeHeader": "ui-icon-minus" },
		heightStyle: "fill",	
	});
  });
</script>
<div class="itinerary-header row">
		<div class="itinerary-header-left col-md-4"><img src="{site_url}assets/slideout/itinerary_header_left.png" /></div>
		<div class="itinerary-header-center col-md-4"><h3> MY COACH ITINERARY </h3></div>
		<div class="itinerary-header-right col-md-4"><img src="{site_url}assets/slideout/itinerary_header_right.png" /></div>
	</div>
<div id="itinerary-accordion">
	  <h3>Monthly Focus</h3>
	  <div class="accordian-panel-body">
		<div class="col-md-12">
			<div class="col-md-1"><li class="itinerary-list"></li></div>
			<div class="col-md-4 itinerary-course-title">HARDWARE CHIC</div>
			<div class="col-md-4">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 33 100 60">
					<circle cx="50" cy="50" r="15" stroke="rgba(100,196,151,1.0)" fill="rgba(100,196,151,1.0)" />
					<text x="38" y="78" fill="black" font-size="8">SCORE</text>
			</svg>
			</div>
			<div class="col-md-2 itinerary-links"><a href="#">Review</a></div>
			<div class="glyphicon glyphicon-question-sign col-md-1 itinerary-help"></div>
		</div>
		<div class="col-md-12">
			<div class="col-md-1"><li class="itinerary-list"></li></div>
			<div class="col-md-4 itinerary-course-title">ROMANCING LEATHER</div>
			<div class="col-md-4">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 33 100 60">
					<circle cx="50" cy="50" r="15" stroke="rgba(100,196,151,1.0)" fill="rgba(100,196,151,1.0)" />
					<text x="38" y="78" fill="black" font-size="8">SCORE</text>
			</svg>
			</div>
			<div class="col-md-2 itinerary-links"><a href="#">Review</a></div>
			<div class="glyphicon glyphicon-question-sign col-md-1 itinerary-help"></div>
		</div>
		<div class="col-md-12">
			<div class="col-md-1"><li class="itinerary-list"></li></div>
			<div class="col-md-4 itinerary-course-title">OFFERING LEATHER SERVICES</div>
			<div class="col-md-4">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 33 100 60">
					<circle cx="50" cy="50" r="15" stroke="rgba(100,196,151,1.0)" fill="rgba(100,196,151,1.0)" />
					<text x="38" y="78" fill="black" font-size="8">SCORE</text>
			</svg>
			</div>
			<div class="col-md-2 itinerary-links"><a href="#">Review</a></div>
			<div class="glyphicon glyphicon-question-sign col-md-1 itinerary-help"></div>
		</div>
		<div class="col-md-12">
			<div class="col-md-1"><li class="itinerary-list"></li></div>
			<div class="col-md-4 itinerary-course-title">SERVICE TITLE ONE</div>
			<div class="col-md-4">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 33 100 60">
					<circle cx="50" cy="50" r="15" stroke="rgba(100,196,151,1.0)" fill="rgba(100,196,151,1.0)" />
					<text x="38" y="78" fill="black" font-size="8">SCORE</text>
			</svg>
			</div>
			<div class="col-md-2 itinerary-links"><a href="#">Review</a></div>
			<div class="glyphicon glyphicon-question-sign col-md-1 itinerary-help"></div>
		</div>
		<div class="col-md-12">
			<div class="col-md-1"><li class="itinerary-list"></li></div>
			<div class="col-md-4 itinerary-course-title">SEASONAL TITLE ONE</div>
			<div class="col-md-4">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 33 100 60">
					<circle cx="50" cy="50" r="15" stroke="rgba(100,196,151,1.0)" fill="rgba(100,196,151,1.0)" />
					<text x="38" y="78" fill="black" font-size="8">SCORE</text>
			</svg>
			</div>
			<div class="col-md-2 itinerary-links"><a href="#">Review</a></div>
			<div class="glyphicon glyphicon-question-sign col-md-1 itinerary-help"></div>
		</div>
	  </div>
	  <h3>NYC Journey | ML Apprentice</h3>
	  <div class="accordian-panel-body">
		<div class="col-md-12">
			<div class="col-md-1"><li class="itinerary-list"></li></div>
			<div class="col-md-4 itinerary-course-title">The Coach Brand THE HIGHLINE</div>
			<div class="col-md-4">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 33 100 60">
					<circle cx="50" cy="50" r="15" stroke="rgba(100,196,151,1.0)" fill="rgba(100,196,151,1.0)" />
					<text x="38" y="78" fill="black" font-size="8">SCORE</text>
			</svg>
			</div>
			<div class="col-md-2 itinerary-links"><a href="#">Review</a></div>
			<div class="glyphicon glyphicon-question-sign col-md-1 itinerary-help"></div>
		</div>
		<div class="col-md-12">
			<div class="col-md-1"><li class="itinerary-list"></li></div>
			<div class="col-md-4 itinerary-course-title">Bags & SLGs 101 MIDTOWN SOUTH</div>
			<div class="col-md-4">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 33 100 60">
					<circle cx="50" cy="50" r="15" stroke="rgba(100,196,151,1.0)" fill="rgba(100,196,151,1.0)" />
					<text x="38" y="78" fill="black" font-size="8">SCORE</text>
			</svg>
			</div>
			<div class="col-md-2 itinerary-links"><a href="#">Review</a></div>
			<div class="glyphicon glyphicon-question-sign col-md-1 itinerary-help"></div>
		</div>
		<div class="col-md-12">
			<div class="col-md-1"><li class="itinerary-list"></li></div>
			<div class="col-md-4 itinerary-course-title">MLHC Connection 1 MIDTOWN</div>
			<div class="col-md-4">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 33 100 60">
					<circle cx="50" cy="50" r="15" stroke="rgba(100,196,151,1.0)" fill="rgba(100,196,151,1.0)" />
					<text x="38" y="78" fill="black" font-size="8">SCORE</text>
			</svg>
			</div>
			<div class="col-md-2 itinerary-links"><a href="#">Review</a></div>
			<div class="glyphicon glyphicon-question-sign col-md-1 itinerary-help"></div>
		</div>
		<div class="col-md-12">
			<div class="col-md-1"><li class="itinerary-list"></li></div>
			<div class="col-md-4 itinerary-course-title">MLHC Connection 2 DOWNTOWN</div>
			<div class="col-md-4">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 33 100 60">
					<circle cx="50" cy="50" r="15" stroke="rgba(100,196,151,1.0)" fill="rgba(100,196,151,1.0)" />
					<text x="38" y="78" fill="black" font-size="8">SCORE</text>
			</svg>
			</div>
			<div class="col-md-2 itinerary-links"><a href="#">Review</a></div>
			<div class="glyphicon glyphicon-question-sign col-md-1 itinerary-help"></div>
		</div>
	  </div>
	  <h3>Europe Journey | ML Ambassador</h3>
	  <div class="accordian-panel-body">
		<div class="col-md-12">
			<div class="col-md-1"><li class="itinerary-list"></li></div>
			<div class="col-md-4 itinerary-course-title">Course Title</div>
			<div class="col-md-4">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 33 100 60">
					<circle cx="50" cy="50" r="15" stroke="rgba(100,196,151,1.0)" fill="rgba(100,196,151,1.0)" />
					<text x="38" y="78" fill="black" font-size="8">SCORE</text>
			</svg>
			</div>
			<div class="col-md-2 itinerary-links"><a href="#">Review</a></div>
			<div class="glyphicon glyphicon-question-sign col-md-1 itinerary-help"></div>
		</div>
		<div class="col-md-12">
			<div class="col-md-1"><li class="itinerary-list"></li></div>
			<div class="col-md-4 itinerary-course-title">Course Title</div>
			<div class="col-md-4">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 33 100 60">
					<circle cx="50" cy="50" r="15" stroke="rgba(100,196,151,1.0)" fill="rgba(100,196,151,1.0)" />
					<text x="38" y="78" fill="black" font-size="8">SCORE</text>
			</svg>
			</div>
			<div class="col-md-2 itinerary-links"><a href="#">Review</a></div>
			<div class="glyphicon glyphicon-question-sign col-md-1 itinerary-help"></div>
		</div>
		<div class="col-md-12">
			<div class="col-md-1"><li class="itinerary-list"></li></div>
			<div class="col-md-4 itinerary-course-title">Course Title</div>
			<div class="col-md-4">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 33 100 60">
					<circle cx="50" cy="50" r="15" stroke="rgba(100,196,151,1.0)" fill="rgba(100,196,151,1.0)" />
					<text x="38" y="78" fill="black" font-size="8">SCORE</text>
			</svg>
			</div>
			<div class="col-md-2 itinerary-links"><a href="#">Review</a></div>
			<div class="glyphicon glyphicon-question-sign col-md-1 itinerary-help"></div>
		</div>
		<div class="col-md-12">
			<div class="col-md-1"><li class="itinerary-list"></li></div>
			<div class="col-md-4 itinerary-course-title">Course Title</div>
			<div class="col-md-4">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 33 100 60">
					<circle cx="50" cy="50" r="15" stroke="rgba(100,196,151,1.0)" fill="rgba(100,196,151,1.0)" />
					<text x="38" y="78" fill="black" font-size="8">SCORE</text>
			</svg>
			</div>
			<div class="col-md-2 itinerary-links"><a href="#">Review</a></div>
			<div class="glyphicon glyphicon-question-sign col-md-1 itinerary-help"></div>
		</div>
	  </div>
</div>

	