@import "../../css/colors";

/*  Map Elements  */

#vmap {
  svg {
    //position: absolute;
    //top: 0;
    //left: 0;
    //background-color: $map-water;
  }
}

/* Map Legend */

.map-legend {
  //height: calc(96% - 80px);
  //top: 3%;
  position: absolute;
  height: 100%;
  top: 0;
  width: 52px;
  right: -52px;
  z-index: 1000;
  background: #FFF;
  border-left: 1px solid #CCC;

  ul {
    list-style-type: none;
    li {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      margin-left: -9px;

      &.active {
        border: 3px solid rgba(255, 255, 255, .4);

        &:before {
          content: attr(data-title);
          position: absolute;
          width: 140px;
          border-bottom: 2px dotted rgba(0, 0, 0, .1);
          right: -167px;
          top: 0;
          text-align: left;
          font-size: 11px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
        &:after {
          font-family: 'icomoon';
          content: '\e907';
          color: rgba(0, 0, 0, .5);
          position: absolute;
          right: -173px;
          top: 10px;
          font-size: 8px;
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }

      &.label {
        top: 48%;
        left: 53%;
        font-size: 10px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        color: $black;
      }

      &.china {
        background: $china-lt;
        top: 20%;
      }

      &.japan {
        background: $japan-lt;
        top: 28%;
      }

      &.korea {
        background: $korea-lt;
        top: 35%;
      }

      &.taiwan {
        background: $taiwan-lt;
        top: 54%;
      }

      &.south-east-asia {
        background: $south-east-asia-lt;
        top: 62%;
      }

      &.vietnam {
        background: $vietnam-lt;
        top: 68%;
      }

      &.hongkong {
        background: $hongkong-lt;
        top: 76%;
      }
    }
  }
}

/* Map Info */
.panel-object-info {
  div.seattime div.image {
    &.china div.text {
      color: $china;
    }

    &.japan div.text {
      color: $japan;
    }

    &.korea div.text {
      color: $korea;
    }

    &.taiwan div.text {
      color: $taiwan;
    }

    &.south-east-asia div.text {
      color: $south-east-asia;
    }
  }
}

/* Map Pins */

.jqvmap-pin {
  display: block;

  /* japan */
  &[for="sapporo"] {
    top: 0;
    left: 0;
  }
  &[for="kyoto"] {
    top: 0;
    left: 0;
  }
  &[for="tokyo"] {
    top: 0;
    left: 0;
  }

  /* south-east-asia */
  &[for="malaysia"] {
    top: 0;
    left: 0;
  }
  &[for="singapore"] {
    top: 0;
    left: 0;
  }
  &[for="vietnam"] {
    top: 0;
    left: 0;
  }
  &[for="hanoi"] {
    top: 0;
    left: 0;
  }

  /* taiwan */
  &[for="tapei"] {
    top: 0;
    left: 0;
  }

  /* china */
  &[for="shanghai"] {
    top: 0;
    left: 0;
  }
  &[for="beijing"] {
    top: 0;
    left: 0;
  }
  &[for="chengdu"] {
    top: 0;
    left: 0;
  }
  &[for="hongkong"] {
    top: 0;
    left: 0;
  }
  &[for="korea"] {
    top: 0;
    left: 0;
  }
  &[for="seoul"] {
    top: 0;
    left: 0;
  }
}

/* Cities */
.jqvmap-region {
    /* japan */
    &[id *= "sapporo"],
    &[id *= "kyoto"],
    &[id *= "tokyo"],
    /* south-east-asia */
    &[id *= "malaysia"],
    &[id *= "singapore"],
    &[id *= "vietnam"],
    &[id *= "hanoi"],
    /* taiwan */
    &[id *= "tapei"],
    /* china */
    &[id *= "shanghai"],
    &[id *= "beijing"],
    &[id *= "chengdu"],
    &[id *= "hongkong"],
    &[id *= "korea"],
    &[id *= "seoul"] {
      stroke: #ffffff;
      stroke-opacity: 1;
    }
}

/* Additional Text on SVG */

#vmap text {
  .mapH0,
  .mapH1,
  .mapH2,
  .mapH3{
    fill: $white;
    font-family: 'Lato', sans-serif, Verdana;
    font-size: 10px;
  }

  .mapH0 {
    text-transform: uppercase;
    font-weight: bold;
  }

  .mapH1 {
    text-transform: capitalize;
  }

  .mapH2 {
    text-transform: uppercase;
    fill: $black;
  }

  .mapH3 {
    font-style: italic;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.9);
  }

  .map-water-text {
    fill: $map-water-text;
    font-weight: bold;
  }
}

/* Ipad Only */
/*

@media screen and (max-width: 1024px) {
  .map-legend {
    height: 100%;
    top: 0;

    ul li {
      &.vietnam {}
      &.korea {}
    }
  }
}

*/
