{layout="layouts/index"}
<div class="row course-detail"></div>
<div class="row flex-content full-page-section activestate" id="monthlyFocus">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-data-view">
            <div class="row monthly-focus-content">
                {embed="monthly_focus/index"}
            </div>
        </div>
    </div>
    <div class="row flex-content full-page-section" id="myProfileBlock">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row my-profile-content">
                <div id="top" class="profile-overlay">
					<div class="row col-md-12 profile-container">
						{embed="my_profile/index"}
					</div>
				</div>
            </div>
        </div>
    </div>

    <div class="row flex-content full-page-section" id="mapJourney">
        <div class="journey-content-container">
            <div class="journey-content">
                {embed="journey/index"}
            </div>
        </div>
        <div id="map-preloader">
            <img src="/assets/pdf-preloader.gif" />
        </div>
    </div>